body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.App {
  padding: 200px;
}

li {
  list-style: none;
}

.correctAnswer {
  color: green;
  font-weight: bolder;
}

.incorrectAnswer {
  color: red;
  font-weight: bolder;
}

.countAnswers {
  font-size: 30px;
}

.theUnanswered {
  font-size: 50px;
}

.allAnswers {
  font-size: 20px;
}
