body {
  background-color: rgb(192, 162, 162);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
}

li {
  list-style: none;
}

button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: 2px solid #4caf50;
  font-size: 24px;
  margin: 0px 80px 0px 100px;
}
